extends layout

block content
  pre
    for v, k in record.fields
      = k + ": " + v + "\n"

  a(href='../download/' + record.id  download=record.fields.fileName ? record.fields.fileName : record.id) Download Logs

